h2{
  margin-top: 5px;
  text-align: center;
  margin: 5px;
}

.about {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  img {
  width: 250px;
  height: 250px;
  border: 5px#80634B solid;
  border-radius: 15px;
  margin-left: 18px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px grey;
  }
}