h2{
  margin-top: 5px;
  text-align: center;
  margin: 5px;
}

.about {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  img {
  border: 2px black solid;
  border-radius: 5px;
  margin-left: 18px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  }
}