.categories-list {
  position: absolute;
  top: 72px;
  a {
    color: black;
    display: none;
    width: 100%;
    text-decoration: none;
  }
  a:hover {
    color: rgba(75, 75, 75, .7);
    background-color: rgba(75, 75, 75, .3);
  }
  padding-left: 15px;
  width: 200px;
  background-color: #c3976a;
  transition: display 2s ease-in;
}
.categories-list:hover {
  cursor: pointer;
}

.active {
  a {
    display: block;
  }
}