.header {
  * {
    box-sizing: border-box;
    color: whitesmoke;
  }
  .userandlogo {
    * {
      display: inline-block;
    }
    .username-display {
      font-size: 1.3rem;
      align-self: center;
      margin-left: 15px;
    }
    display: flex;
  }
  li {
    a {
      text-decoration: none;
      color: whitesmoke;
      border: 1px solid rgba(75, 75, 75, .4);
      padding: 3px 16px 3px 16px;
      background-color: rgba(75, 75, 75, .2);
      border-radius: 5px;
    }
  }
  li:last-of-type {
    a {
      img {
        align-items: center;
      }
      display: flex;
      padding: 0 15px 0 15px;
    }
  }
  li:hover {
    a {
      background-color: rgba(75, 75, 75, .4);
    }
  }
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(75, 75, 75, .5);
  box-sizing: border-box;
  background-color: #924a36;
}

.www-logo {
  margin-top: 15px;
  width: 150px;
  height: 75px;
  margin-left: 20px;
}

.cart-logo {
  width: 50px;
  height: 50px;
}

.header-nav {
  li {
    margin-left: 15px;
  }
  list-style-type: none;
  display: flex;
  flex: 0.2;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: center;
  margin-right: 15px;
}

.hamburger {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.hidden {
  display: none;
}