.products-list {
  li {
    a {
      h4 {
        font-weight: normal;
      }
      .product-image {
        max-width: 300px;
        max-height: 250px;
        border-radius: 15px;
      }
      color: black;
      text-decoration: none;
    }
    background-color: rgba(75, 75, 75, .2);
    margin-top: 80px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px 10px grey;
  }
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  text-align: center;
  width: 100%;
}