.wagon {
  border: 1px solid black;
  padding: 20px 0;
  width: 200px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 3rem;
}

.product-list {
  li {
    .full-details {
      .wagon-product {
        padding-right: 15px;
      }
      .name {
        font-size: 1.6rem;
      }
      .price {
        font-size: 1rem;
      }
      .image {
        height: 200px;
        float: left;
      }
      .quantity {
        font-weight: bold;
      }
      .delete {
        font-size: 1.2rem;
        color: blue;
        background: transparent;
        border: none;
        text-decoration: underline;
      }
      .delete:hover {
        color: darkslateblue;
      }
      .text-details {
        float: right;
      }
      background-color: rgba(75, 75, 75, .3);
      width: 100%;
    }
  }
  max-width: 20%;
  min-width: 600px;
  margin: auto;
  list-style: none;
  text-align: center;
}