h2 {
  font-size: 3rem;
}

.product-list {
  .full-details {
    .name {
      font-size: 1.6rem;
    }
    .price {
      font-size: 1rem;
    }
    .image {
      height: 200px;
      float: left;
      border-radius: 10px;
    }
    .quantity {
      font-weight: bold;
    }
    .delete {
      font-size: 1.2rem;
      color: blue;
      background: transparent;
      border: none;
      text-decoration: underline;
    }
    .delete:hover {
      color: darkslateblue;
    }
    .text-details {
      margin: auto;
    }
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    background-color: rgba(75, 75, 75, .3);
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid rgba(75, 75, 75, .6);
    border-radius: 15px;
  }
  max-width: 20%;
  min-width: 600px;
  margin: auto;
  list-style: none;
  text-align: center;
}